<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Social Helper</title>
    <link rel="icon" href="/Content/images/favicon.ico" type="image/x-icon" />
    <meta name="google-site-verification" content="YJ7qXpSo297v8C3akPZEBLu_b8gAsFOm0DOZerG21ko" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (@Request.Url.AbsolutePath.Contains("Ru"))
    {
    <meta name="description" content="Успешное продвижение аккаунта. Возможность скачать любой контент из инсты. Веди свою статистику профиля. Загрузка фотографий с ПК" />
    <meta name="keywords" content="скачать из инсты, social helper, раскрутка профиля в инстаграм, загрузка фотографий, социальный помошник" />
    }
    else
    {
    <meta name="description" content="Successful promotion account. Download any content from pages. Make your profile stats. Upload photo from PC." />
    <meta name="keywords" content="download from , manage followers, social helper, promotion of account, upload photo" />
    }

    <meta name="author" content="fil.moskalev" />

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="/Content/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/Content/css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="/Content/css/simple-line-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/Content/css/bootstrap.css">
    <!-- Style -->
    <link rel="stylesheet" href="/Content/css/style.css">

    <!-- Modernizr JS -->
    <script src="/Content/js/modernizr-2.6.2.min.js"></script>

</head>
<body>
    <header role="banner" id="fh5co-header">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default navbar-fixed-top">


                    @if (@Request.Url.AbsolutePath.Contains("Ru"))
                    {
                    <div class="navbar-header">
                        <!-- Mobile Toggle Menu Button -->
                        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                        <a class="navbar-brand" href="/">Social Helper</a>
                        <a href="/"><span>EN</span></a>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#" data-nav-section="home"><span>Главная</span></a></li>
                            <li><a href="#" data-nav-section="services"><span>Возможности</span></a></li>
                            <li><a href="#" data-nav-section="blog"><span>Уроки</span></a></li>
                        </ul>
                    </div>
                    }
                    else
                    {
                    <div class="navbar-header">
                        <!-- Mobile Toggle Menu Button -->
                        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                        <a class="navbar-brand" href="/">Social Helper</a>
                        <a href="/Home/Ru/"><span>RU</span></a>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
                            <li><a href="#" data-nav-section="services"><span>Features</span></a></li>
                            <li><a href="#" data-nav-section="blog"><span>Tutorials</span></a></li>
                        </ul>
                    </div>
                    }

                </nav>
            </div>
        </div>
    </header>

    @RenderBody()
    <div id="fh5co-footer" role="contentinfo">
        <div class="container">
            <div class="row">
                @if (@Request.Url.AbsolutePath.Contains("Ru"))
                {
                <div class="col-md-6 animate-box">
                    <h3 class="section-title">Отзывы.</h3>
                    <p> Не стесняйтесь обращаться к нам, если у вас есть какие-либо вопросы, комментарии или замечания по поводу работы Social Helper.</p>

                </div>
                <div class="col-md-6 animate-box">
                    <h3 class="section-title">Связаться с нами:</h3>
                    <ul class="contact-info">
                        <li><i class="icon-envelope"></i>fil.moskalev@gmail.com</li>
                        <li><i class="icon-facebook"></i><a href="https://www.facebook.com/philipp.moskalev">philipp.moskalev</a></li>
                        <li><i class="icon-instagram"></i><a href="https://www.instagram.com/philipp_moskalev/">philipp_moskalev</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="copy-right">
                            <a href="/Home/PrivacyPolicy/">Политика Конфиденциальности</a>
                            <hr />
                            &copy; 2018 Social Helper. Все права защищены.<br>
                        </p>
                    </div>
                </div>
                }
                else
                {
                <div class="col-md-6 animate-box">
                    <h3 class="section-title">Feedback.</h3>
                    <p> Feel free to contact me if you have any questions, comments or concerns about Social Helper.</p>

                </div>
                <div class="col-md-6 animate-box">
                    <h3 class="section-title">Connect with Us</h3>
                    <ul class="contact-info">
                        <li><i class="icon-envelope"></i>fil.moskalev@gmail.com</li>
                        <li><i class="icon-facebook"></i><a href="https://www.facebook.com/philipp.moskalev">philipp.moskalev</a></li>
                        <li><i class="icon-instagram"></i><a href="https://www.instagram.com/philipp_moskalev/">philipp_moskalev</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="copy-right">
                            <a href="/Home/PrivacyPolicy/">Privacy Policy</a>
                            <hr />
                            &copy; 2018 Social Helper. All Rights Reserved.<br>
                        </p>
                    </div>
                </div>
                }



            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="/Content/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/Content/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/Content/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/Content/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="/Content/js/jquery.stellar.min.js"></script>
    <!-- Counters -->
    <script src="/Content/js/jquery.countTo.js"></script>
    <!-- Main JS (Do not remove) -->
    <script src="/Content/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
